html {
	-webkit-font-smoothing: antialiased;
	background: rgba(241, 90, 36, 1);
}

body {
	text-align: center;
}

h1 {
	color: black;
	line-height: 0.9em;
	font-size: 124px;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Old Standard TT', serif;
}

h2 {
	color: black;
	line-height: 0.9em;
	font-size: 80px;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Old Standard TT', serif;
}

	h2 a {
		color: white;
	}

p {
	font-family: 'Questrial', sans-serif;
}

footer {
	background: white;
	height: 100%;
}

.footerDeets {
	padding-top: 40px;
}

ul {
	text-align: left;
	text-decoration: none;
	list-style: none;
	padding-top: 25px;
}

li {
	padding-left: 10px;
	padding-top: 4px;
}

	li a {
		font-family: 'Questrial', sans-serif;
	}

a {
	text-decoration: none;
	color: black;
	font-family: 'Old Standard TT', serif;
}

.madeWith {
	font-family: 'Questrial', sans-serif;
}

.heart {
	font-size: 25px;
}

.dean {
	line-height: 0.9em;
	font-size: 2.3em;
	font-weight: 900;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Questrial', sans-serif;
}

.footerLinks {
	line-height: 0.9em;
	font-size: 2.3em;
	font-weight: 900;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Questrial', sans-serif;
	text-align: left;
}

.navButtons {
	float: right;
	margin-top: -80px;
	margin-right: 30px;
}

.button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #fff;
	color: white;
	cursor: pointer;
	box-sizing: border-box;
}

.textHeader {
	margin-top: 90px;
}


a:hover {
	border-bottom: 2px #000 solid;
	color: #000;
}


.github {
	position: absolute;
	margin-top: 3px;
	margin-left: -13px;
	width: 30px;
}

/* Mobile */
@media (min-width: 300px) and (max-width: 600px) {
	h1 {
		font-size: 3.8em;
	}

	h2 {
		font-size: 2.3em;
	}

	.textHeader {
		margin-top: 40px;
	}

	.navButtons {
		margin-top: 10px;
		float: initial;
		margin-top: 10px;
		margin-right: 0px;
	}

	.surround {
		margin-top: 0px;
	}

	.title {
		font-size: 9em;
	}

	.topMargin {
		margin-top: 0px;
	}

	.footerDeets ul {
		text-align: center;
	}
}
