html {
	-webkit-font-smoothing: antialiased;
	background: rgb(234,186,34);
}

body {
	text-align: center;
}

.header {
	margin-top: 1rem;
	text-align: center;
	margin-top: 80px;
}

h1 {
	color: rgb(255,255,255);
	line-height: 0.9em;
	font-size: 7.3em;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Playfair Display', serif;
}

.titles {
	color: black;
	line-height: 1.5em;
	font-size: 4.3em;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Fauna One', serif;
}

footer {
	background: white;
	height: 100%;
}

.footerDeets {
	padding-top: 40px;
}

ul {
	text-align: left;
	text-decoration: none;
	list-style: none;
	padding-top: 25px;
}

li {
	padding-left: 10px;
	padding-top: 4px;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Fauna One', serif;
}

.madeWith {
	font-family: 'Fauna One', serif;
}

.heart {
	font-size: 25px;
}

.dean {
	line-height: 0.9em;
	font-size: 2.3em;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Playfair Display', serif;
}

.footerLinks {
	line-height: 0.9em;
	font-size: 2.3em;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Playfair Display', serif;
	text-align: left;
}

.navButtons {
	float: right;
	margin-top: -60px;
	margin-right: 30px;
}

.button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #000;
	cursor: pointer;
	box-sizing: border-box;
}

a:hover {
	border-bottom: 2px #000 solid;
}

.github {
	position: absolute;
	margin-top: 3px;
	margin-left: -13px;
	width: 30px;
}

/* Mobile */
@media (min-width: 300px) and (max-width: 600px) {
	h1 {
		font-size: 4.6em;
	}

	.titles {
		font-size: 2.3em;
	}

	.header {
		margin-top: 20px;
		padding-bottom: 10px;
	}

	.navButtons {
		float: none;
		margin-top: 20px;
		margin-right: 0px;
	}

	.footerDeets ul {
		text-align: center;
	}
}

/*Tablet*/
@media (min-width: 600px) and (max-width: 900px) {
	h1 {
		font-size: 4.6em;
	}

	.titles {
		font-size: 4.3em;
	}
}
