#background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 90px;
	font-size: 300px;
	color: yellow;
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
}

#foreground {
	position: absolute;
	top: -100%;
	left: 0;
	z-index: 10;
	color: black;
	margin-top: 50px;
	margin-left: 20%;
	width: 600px;
}

.header {
	font-size: 5em;
}

.navButtons {
	text-align: right;
	margin-top: 20px;
	margin-right: 30px;
}

.button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #000;
	cursor: pointer;
	box-sizing: border-box;
}

h1 {
	color: black;
	line-height: 0.9em;
	font-size: 2.3em;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Bree Serif', serif;
}

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

a:hover {
	border-bottom: 2px #000 solid;
}

footer {
	background: white;
	height: 100%;
	padding-top: 150px;
}

.footerDeets {
	padding-top: 40px;
	margin-top: 80%;
	background: yellow;
}

ul {
	text-align: left;
	text-decoration: none;
	list-style: none;
	padding-top: 25px;
}

li {
	padding-left: 10px;
	padding-top: 4px;
}

#foreground a {
	color: black;
	line-height: 0.9em;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Bree Serif', serif;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

.madeWith {
	font-family: 'Open Sans', sans-serif;
}

.heart {
	font-size: 25px;
}

.dean {
	line-height: 0.9em;
	font-size: 2.3em;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Bree Serif', serif;
}

.footerLinks {
	line-height: 0.9em;
	font-size: 2.3em;
	letter-spacing: -0.04em;
	margin-bottom: 0.3em;
	white-space: nowrap;
	-webkit-transition: font-size 0.3s ease;
	font-family: 'Bree Serif', serif;
	text-align: left;
}

hr {
	width: 200px;
	border-width: 4px 0 0 0;
	border-color: black;
}


.github {
	position: absolute;
	margin-top: 3px;
	margin-left: -13px;
	width: 30px;
}

/* Mobile */
@media (min-width: 300px) and (max-width: 600px) {
	#foreground {
		top: -100%;
		left: 0;
		z-index: 10;
		color: black;
		margin-top: 50px;
		margin-left: 0%;
		width: 0px;
		position: inherit;
		width: initial;
	}

	#background {
		font-size: 100px;
	}

	h1 {
		font-size: 2.8em;
	}

	h2 {
		font-size: 2.3em;
	}

	.header {
		font-size: 3.5em;
	}

	.navButtons {
		text-align: center;
		margin-top: 20px;
		margin-right: 0px;
	}

	.surround {
		margin-top: 0px;
	}

	.title {
		font-size: 9em;
	}

	.topMargin {
		margin-top: 0px;
	}

	.footerDeets {
		margin-top: 0%;
	}

	.footerDeets ul {
		text-align: center;
	}
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1000px) {
	#background {
		margin-top: 100px;
		font-size: 11em;
	}

	#foreground {
		width: 0px;
	}

	hr{
		  margin-left: 60px;
	}

	p{
		width: 400px;
	}

	.header {
 	 font-size: 3.5em;
	}

	footer{
	padding-top: 650px;
	}

	.navButtons {
		text-align: inherit;
		margin-right: 0px;
	}
}

